*********************************************
*                                           *
* DRILL TAPE SUMMARY REPORT                 *
*                                           *
* C:\CAIN\ONLY_AT91\ONLY_AT91_2SIDE_V4.MAX  *
* Fri May 26 11:09:42 2006                  *
*                                           *
*********************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       28       216      200      100                                                                                 
T2       34       17       200      100                                                                                 
T3       37       58       200      100                                                                                 
T4       38       7        200      100                                                                                 
T5       42       16       200      100                                                                                 
T6       51       2        200      100                                                                                 
T7       63       2        200      100                                                                                 
T8       110      7        200      100                                                                                 
T9       125      2        200      100                                                                                 
