*******************************************
*                                         *
* DRILL TAPE SUMMARY REPORT               *
*                                         *
* C:\CAIN\OLD\ECBAT91_V2\ECB_AT91_V2.MAX  *
* Fri May 30 14:13:15 2008                *
*                                         *
*******************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       118      546      200      100                                                                                 
T2       340      15       200      100                                                                                 
T3       370      86       200      100                                                                                 
T4       380      22       200      100                                                                                 
T5       420      16       200      100                                                                                 
T6       512      2        200      100                                                                                 
T7       630      2        200      100                                                                                 
T8       905      2        200      100                                                                                 
T9       1100     4        200      100                                                                                 
T10      1250     2        200      100                                                                                 
