********************************************
*                                          *
* DRILL TAPE SUMMARY REPORT                *
*                                          *
* C:\CAIN\ECB_AT91_TEMP\ECB_AT91_TEMP.MAX  *
* Sat Apr 19 23:13:31 2008                 *
*                                          *
********************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       118      310      200      100                                                                                 
T2       250      3        200      100                                                                                 
T3       340      15       200      100                                                                                 
T4       370      55       200      100                                                                                 
T5       380      2        200      100                                                                                 
T6       394      10       200      100                                                                                 
T7       417      2        200      100                                                                                 
T8       420      16       200      100                                                                                 
T9       531      2        200      100                                                                                 
T10      630      2        200      100                                                                                 
T11      1100     7        200      100                                                                                 
T12      1250     2        200      100                                                                                 
